@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@import "filepond/dist/filepond.min.css";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

@theme {
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */
  --breakpoint-5xl: 240rem; /* 3840px */
}

.image-pond .filepond--item {
  width: calc(100% - 0.5em);
}

/* 2 columns */
@media (min-width: 40em) {
  .image-pond .filepond--item {
    width: calc(50% - 0.5em);
  }
}

/* 3 columns */
@media (min-width: 60em) {
  .image-pond .filepond--item {
    width: calc(33.333% - 0.5em);
  }
}

/* 4 columns */
@media (min-width: 80em) {
  .image-pond .filepond--item {
    width: calc(25% - 0.5em);
  }
}

/* 5 columns */
@media (min-width: 100em) {
  .image-pond .filepond--item {
    width: calc(20% - 0.5em);
  }
}

/* editor.css or global.css */
.ProseMirror {
  min-height: 320px;   /* ensures the editable area is large */
  padding: 0.75rem;
  outline: none;       /* removes default focus outline; keep accessible focus styles if you want */

  box-shadow: 0 0 0 1px var(--input-color);
  border-radius: var(--radius-field);
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}